@{
    ViewData["Title"] = "Home Page";
    Track t = Model as Track;
    // Track t = (Track) Model;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    The composer for Track @Context.Request.RouteValues["id"] is @t.Composer.
</div>